@-moz-keyframes svgRot {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
    transform: rotate(360deg);
  }
  100% {
    opacity: 1;
    transform: rotate(0deg);
  }
}
@-webkit-keyframes svgRot {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
    transform: rotate(360deg);
  }
  100% {
    opacity: 1;
    transform: rotate(0deg);
  }
}
@-o-keyframes svgRot {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
    transform: rotate(360deg);
  }
  100% {
    opacity: 1;
    transform: rotate(0deg);
  }
}
@keyframes svgRot {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
    transform: rotate(360deg);
  }
  100% {
    opacity: 1;
    transform: rotate(0deg);
  }
}
@-moz-keyframes hideBlock {
  from {
    opacity: 1;
    transform: translateY(0px);
    max-height: 100px;
  }
  to {
    opacity: 0;
    transform: translateY(-30px);
    max-height: 0;
  }
}
@-webkit-keyframes hideBlock {
  from {
    opacity: 1;
    transform: translateY(0px);
    max-height: 100px;
  }
  to {
    opacity: 0;
    transform: translateY(-30px);
    max-height: 0;
  }
}
@-o-keyframes hideBlock {
  from {
    opacity: 1;
    transform: translateY(0px);
    max-height: 100px;
  }
  to {
    opacity: 0;
    transform: translateY(-30px);
    max-height: 0;
  }
}
@keyframes hideBlock {
  from {
    opacity: 1;
    transform: translateY(0px);
    max-height: 100px;
  }
  to {
    opacity: 0;
    transform: translateY(-30px);
    max-height: 0;
  }
}
@-moz-keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes float {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-5deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@-webkit-keyframes float {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-5deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@-o-keyframes float {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-5deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes float {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-5deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@-moz-keyframes moveYoga {
  0% {
    transform: translate3D(0px, 0px, 0);
  }
  25% {
    transform: translate3D(-10px, 10px, -20px);
  }
  75% {
    transform: translate3D(10px, 5px, 0);
  }
  100% {
    transform: translate3D(0px, 0px, 0);
  }
}
@-webkit-keyframes moveYoga {
  0% {
    transform: translate3D(0px, 0px, 0);
  }
  25% {
    transform: translate3D(-10px, 10px, -20px);
  }
  75% {
    transform: translate3D(10px, 5px, 0);
  }
  100% {
    transform: translate3D(0px, 0px, 0);
  }
}
@-o-keyframes moveYoga {
  0% {
    transform: translate3D(0px, 0px, 0);
  }
  25% {
    transform: translate3D(-10px, 10px, -20px);
  }
  75% {
    transform: translate3D(10px, 5px, 0);
  }
  100% {
    transform: translate3D(0px, 0px, 0);
  }
}
@keyframes moveYoga {
  0% {
    transform: translate3D(0px, 0px, 0);
  }
  25% {
    transform: translate3D(-10px, 10px, -20px);
  }
  75% {
    transform: translate3D(10px, 5px, 0);
  }
  100% {
    transform: translate3D(0px, 0px, 0);
  }
}
@-moz-keyframes videoAnimate {
  0% {
    width: 81px;
  }
  100% {
    width: 320px;
  }
}
@-webkit-keyframes videoAnimate {
  0% {
    width: 81px;
  }
  100% {
    width: 320px;
  }
}
@-o-keyframes videoAnimate {
  0% {
    width: 81px;
  }
  100% {
    width: 320px;
  }
}
@keyframes videoAnimate {
  0% {
    width: 81px;
  }
  100% {
    width: 320px;
  }
}
@-moz-keyframes videoAnimateText {
  0% {
    font-size: 23.04px;
    opacity: 0;
  }
  100% {
    font-size: 23.04px;
    opacity: 1;
  }
}
@-webkit-keyframes videoAnimateText {
  0% {
    font-size: 23.04px;
    opacity: 0;
  }
  100% {
    font-size: 23.04px;
    opacity: 1;
  }
}
@-o-keyframes videoAnimateText {
  0% {
    font-size: 23.04px;
    opacity: 0;
  }
  100% {
    font-size: 23.04px;
    opacity: 1;
  }
}
@keyframes videoAnimateText {
  0% {
    font-size: 23.04px;
    opacity: 0;
  }
  100% {
    font-size: 23.04px;
    opacity: 1;
  }
}
@-moz-keyframes videoAnimatePic {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes videoAnimatePic {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-o-keyframes videoAnimatePic {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes videoAnimatePic {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-moz-keyframes showBlock {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@-webkit-keyframes showBlock {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@-o-keyframes showBlock {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes showBlock {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
