//
.b_architecture
  background-color #046FD7
  background-image url("../images/arch-bg.png")
  background-position 70% top
  background-repeat no-repeat
  box-shadow: 0 15px 45px 0 rgba(23, 128, 224, 0.73);
  height: 987px
  padding-top: 74px
  box-sizing border-box
  .content
    position: relative
.architecture
  &__title
    font-size: 36px;
    color: #FFFFFF;
    text-align center
    padding-bottom: 60px
  &__sub-title
    max-width 455px
    font-size: 20px;
    color: #FFFFFF;
    line-height: 30px;
    margin-left: 156px
  &__users--text
    font-weight: lighter
    font-size: 36px;
    color: #FFFFFF;
    margin: 13px 153px;
    width: 150px;

.architecture__users
  margin: 125px 0 0 144px
  display inline-block

.architecture__arrows
  width: 110px
  position: absolute;
  top: 446px;
  left: 381px;
  img:last-child
    padding-bottom: 19px
    transform rotate(180deg)
.architecture__graph
  width: 495px;
  height: 557px;
  background-image: url(../images/arch-graph.svg);
  display: block;
  content: '';
  position: absolute;
  top: 159px;
  left: 505px;
.architecture__session
  position: absolute
  top: 415px;
  left: 523px;

.architecture__session--text
  font-weight: lighter
  font-size: 36px;
  color: #FFFFFF;
  position: absolute
  top: 560px;
  left: 531px
.architecture__detection--text
  font-size: 24px;
  color: #FFFFFF;
  letter-spacing: 0;
  font-weight: lighter
  position: absolute
  top: 246px;
  left: 641px;
.architecture__clarification--text
  font-size: 24px;
  color: #FFFFFF;
  letter-spacing: 0;
  font-weight: lighter
  position: absolute
  top: 354px;
  left: 645px;

.architecture__execution--text
  font-weight: lighter
  font-size: 24px;
  color: #FFFFFF;
  position: absolute
  top: 443px;
  left: 949px;
.architecture__solution--text
  font-size: 24px;
  color: #0071DB;
  letter-spacing: 0;
  font-weight: lighter
  position: absolute
  top: 667px;
  left: 673px;
.architecture__network--text
  font-size: 36px;
  color: #FFFFFF;
  letter-spacing: 0;
  font-weight: lighter

.architecture__core--text
  font-size: 36px;
  color: #FFFFFF;
  letter-spacing: 0;
  font-weight: lighter
  position: absolute
  top: 140px;
  left: 852px;
.architecture__core--sub-text
  font-size: 20px;
  color: #FFFFFF;
  line-height: 30px;
  position: absolute
  top: 153px;
  left: 950px;
  font-weight: 400
.architecture__brain
  position: absolute
  top: 242px;
  left: 822px;
.architecture__laptop
  position: absolute
  top: 575px;
  left: 846px;
.architecture__network--text
  position: absolute;
  top: 728px;
  left: 777px;
.architecture__network--sub-text
  position: absolute;
  top: 778px;
  left: 779px;
  max-width: 321px;
  font-size: 20px;
  color: #FFFFFF;
  line-height: 30px;