.b_calculate
  padding-top: 90px
  padding-bottom: 86px
.calculate__range-wrap
  padding-bottom: 70px

#range-container
  position: relative
  width: 102%;
  margin-left: -1.5%;
input[type="range"][multiple] {
  display: block;
  height: 10px;
  margin: 0;
  pointer-events: none;
  width: 100%;
}
input[type="range"][multiple] + input[type="range"][multiple] {
  margin-top: -10px;
}
input[type="range"]::-webkit-slider-thumb {
  pointer-events: all;
}
.calculate__range-wrap
  position: relative
  margin: 0 50px
  padding-bottom: 70px;

div[class^="outWrap_"]
  position: absolute
  z-index 0
  font-size: 18px;
  line-height: 24px;
  span
    display: block
.outWrap_0
  width: 123px
  text-align center
  margin-left: -61px
  top: -33px
  color: #046FD7;
  span
    padding-top: 40px

.outWrap_1
  width: 82px
  text-align center
  margin-left: -41px
  top: -57px
  color: #FFAA00

.outWrap_2
  width: 123px
  text-align center
  margin-left: -61px
  top: -33px
  color: #1CBBB4;
  span
    padding-top: 40px

.outWrap_3
  width: 100px
  text-align center
  margin-left: -50px
  top: -57px
  color: #E577CF

.outWrap_4
  width: 123px
  text-align center
  margin-left: -61px
  top: -33px
  color: #8DB9E5;
  span
    padding-top: 40px
.outWrap_5
  width: 82px
  text-align center
  margin-left: -41px
  top: -57px
  color: #0F2E6B



.calculate__cols
  display: flex
  padding-bottom: 33px
.calculate__col
  width: 50%
  padding-right: 7%

.calculate__title
  font-size: 18px;
  color: #989898;
  letter-spacing: 0;
  line-height: 32px;
  padding-bottom: 81px
  padding-left: 12px


.calculate__result-title
  font-size: 18px;
  color: #989898;
  line-height: 32px;
  text-align center

.calculate__result
  font-size: 46px;
  color: #046FD7;
  text-align center
#result
  color: #657899

.form-field
  select
    width: 100%
    font-weight: lighter
    font-size: 22px;
    color: #677897;
    letter-spacing: -0.39px;
    border: 1px solid #8DB9E5;
    border-radius: 40px;


.nice-select
  width: 100%
.list
  width: 100%
.nice-select:after
  width: 0;
  height: 0;
  border-bottom: 0
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #046FD7;
  transform: rotate(0)
.nice-select.open:after
  transform: rotate(-180deg);

//tab
.form__salary, .form__employees
  position: relative
  padding-bottom: 20px
  input
    width: 103%
  p
    text-align right
    font-size: 18px;
    color: #989898;
    line-height: 32px;
  output
    position: absolute
    top: -20px
    font-size: 16.8px;
    color: #359BE0;
    display: block
    width: 60px
    margin-left: -30px
    text-align center
.range-secondary
  width: 103%

.saving__title
  font-size: 24px;
  color: #046FD7;
  padding-top: 50px
  padding-bottom: 5px
  text-align center
.saving__text
  font-size: 18px;
  color: #989898;
  letter-spacing: 0;
  line-height: 32px;
  padding-right: 15px

.line-right
  text-align right
.saving__block
  width: 645px
  margin: 0 auto

.saving__result
  font-size: 36px;
  color: #8C8C8C;
  font-weight: lighter
  &.opt
    font-size: 48px;
    color: #046FD7;
.saving-bar
  width: 100%
  display: block
  height: 15px
  position: relative
  background-color #046FD7
  border-radius 15px
  margin: 20px 0
  span
    display: block
    height: 15px
    position: absolute
    left: 0
    background-color #C4DBEE
    border-radius 15px
    width: 0
    transition all 1s

#industry-business + .nice-select
  margin-bottom: 30px

$colorInput = #359BE0
$colorRange = #fff

MixinTrack()
  width: 100%;
  height: 6px;
  cursor: pointer;
  animate: 0.2s;
  background: $colorInput;

MixinThumb(color)
  box-shadow: 0 0 3px 0 rgba(0,0,0,0.10), inset 0px 0px 0px 2px #E6E8ED, inset 0px 0px 0px 6px #fff;
  //border: 2px solid #E6E8ED;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background: color;
  cursor: pointer;
  position relative
  top: 4px


input[type=range] {
  -webkit-appearance: none;
  margin: 15px 0;
}
input[type=range]:focus {
  outline: none;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 20px 0;
  color: transparent;
}
input[type=range]::-webkit-slider-runnable-track {
  MixinTrack()
}

input[type=range]::-moz-range-track {
  MixinTrack()
}

input[type=range]::-webkit-slider-thumb {
  MixinThumb($colorRange)
  -webkit-appearance: none;
  margin-top: -11px;
  position: relative
  z-index 4
}
input[type=range]::-moz-range-thumb {
  MixinThumb($colorRange)
}
input[type=range]::-ms-thumb {
  MixinThumb($colorRange)
}
input[type=range]:focus::-ms-fill-lower {
  background: $colorInput;
}
input[type=range]:focus::-ms-fill-upper {
  background: $colorInput;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: $colorInput;
}
input[type=range]::-ms-fill-lower {
  background: $colorInput;
}
input[type=range]::-ms-fill-upper {
  background: $colorInput;
}
#range5
  &::-webkit-slider-thumb {
    MixinThumb(#0F2E6B)
  }
  &::-moz-range-thumb {
    MixinThumb(#0F2E6B)
  }
  &::-ms-thumb {
    MixinThumb(#0F2E6B)
  }


#range4
  &::-webkit-slider-thumb {
    MixinThumb(#8DB9E5)
  }
  &::-moz-range-thumb {
    MixinThumb(#8DB9E5)
  }
  &::-ms-thumb {
    MixinThumb(#8DB9E5)
  }


#range3
  &::-webkit-slider-thumb {
    MixinThumb(#E577CF)
  }
  &::-moz-range-thumb {
    MixinThumb(#E577CF)
  }
  &::-ms-thumb {
    MixinThumb(#E577CF)
  }

#range2
  &::-webkit-slider-thumb {
    MixinThumb(#1CBBB4)
  }
  &::-moz-range-thumb {
    MixinThumb(#1CBBB4)
  }
  &::-ms-thumb {
    MixinThumb(#1CBBB4)
  }


#range1
  &::-webkit-slider-thumb {
    MixinThumb(#FFAA00)
  }
  &::-moz-range-thumb {
    MixinThumb(#FFAA00)
  }
  &::-ms-thumb {
    MixinThumb(#FFAA00)
  }



#range0
  &::-webkit-slider-thumb {
    MixinThumb(#359BE0)
  }
  &::-moz-range-thumb {
    MixinThumb(#359BE0)
  }
  &::-ms-thumb {
    MixinThumb(#359BE0)
  }



