
footer
  padding-top: 43px
  padding-bottom: 52px
  background-color #F8FAFD

.footer__cols
  display: flex
  justify-content space-between
  align-items flex-end

.footer__col--big
  display: flex

.footer__menu
  padding-left: 117px

.footer__menu-link
  font-size: 16px
  color: #7887A7
  line-height: 26px
  &--primary
    color: #B1BBCE

.footer__logo
  align-self: flex-end

.soc__link--fb:hover
  g
    fill #3B5998
    transition all .3s
.contacts__title
  font-size: 16px;
  color: #7887A7;
  line-height: 26px;
  font-weight: 500
.contacts__text
  font-size: 16px;
  color: #b1bbce;
  line-height: 26px;
  font-weight: 500
  transition .3s
  a:hover
    color: #046fd7
    transition .3s

a[href^="tel"]{
  color:inherit;
  text-decoration:none;
}
@media (max-width 1200px)

  .footer__menu {
    padding-left: 80px;
  }