 @import "./animate.styl"

html, body
  width: 100%
  height: 100%
  min-height 600px

body
  background-image url("../images/main-bg.jpg")
  background-size 100% auto

.content
  width: 1180px
  margin: 0 auto
  font-family 'Lato', sans-serif
  position: relative;
  z-index: 1;

.section__title
  padding-bottom: 55px
  color: #046FD7
  font-size: 36px
  line-height: 44px
  text-align: center
  font-weight: normal

.btn-wrap
  display: block
  text-align center

header
  position: fixed
  width: 100%
  height: 60px
  padding-top: 22px
  z-index 10
  .content
    display: flex
    justify-content space-between
  &.bg
    background-image url("../images/bg.jpg")
    background-size cover
    .header-logo
      opacity 1
      transition all .3s

.header-logo
  width: 100px;
  height: 38px;
  margin-top: -13px;
  opacity 0

.menu__link
  font-weight: lighter
  font-size: 16px;
  color: #F2F2F2;
  line-height: 23px;
  margin-left: 46px

.menu__item
  display: inline
@import "./main.styl"
@import "./value.styl"
@import "./calculate.styl"

.tabs__control
  width: 525px
  margin: 0 auto
  border: 1px solid #046FD7
  display: flex
  border-radius 23px
  position: relative
  overflow hidden
  margin-bottom: 48px
  &:before
    border-radius 21px
    width: 50%
    height: 100%
    content: ''
    display: block
    position: absolute
    right 0%
    top: 0
    background-color #046FD7
    transition: right .3s
  &.first
    .first
      color: #ffffff
      transition color .3
  &.second
    &:before
      right: 50%
      transition: right .3s
    .second
      color: #ffffff
      transition color .3

.tabs__control--item
  position: relative
  z-index 3
  height: 46px
  line-height 46px
  font-weight: lighter
  font-size: 16px;
  color: #0663A3;
  letter-spacing: 0;
  width: 50%
  text-align center
  cursor: pointer
  user-select none

.calculate__text
  font-size: 20px;
  color: rgba(36, 36, 36, 0.80);
  line-height: 30px;
  text-align center
  max-width 741px
  margin: 0 auto
  padding-bottom: 70px

.calculate__wrap
  background: #FFFFFF;
  box-shadow: 0 15px 45px 0 rgba(23, 128, 224, 0.21);
  border-radius: 41px;
  padding: 65px 49px

@import "./architecture.styl"
@import "./team.styl"
@import "./blog.styl"
@import "./footer.styl"

canvas
  display: block;
  vertical-align: bottom;
  position: absolute
  top: 0

.showBlock
  transform translateY(60px);
  opacity: 0;
  animation: showBlock .3s forwards

.modal__video
  display: none

body.open-modal
  overflow hidden
  .modal__video
    width: 100vw
    height: 100vh
    position: fixed
    top: 0
    left: 0
    background-color rgba(15, 46, 107, 0.56)
    z-index 9999999
    display: flex
    justify-content center
    align-items center
    overflow-y scroll

.mob__video-link
  display: none
@media (max-width 1200px)
  .content
    width: 980px

@media (max-width 1200px)
  .content
    width: 760px

  .menu__link
    margin-left: 28px;

  .main__video-block
    width: 100%;
    background-repeat no-repeat

  .value__cols
    padding: 0

  .calculate__wrap
    padding: 65px 30px

  html
    font-size 12px

  .team__item
    padding-bottom: 35px

@media (max-width 767px)
  .content
    width: 300px
    width: 96%

  .header_mob-group
    display: flex
    align-items center

  .header-logo
    opacity 1

  .header-logo
    margin-top: 0

  .mob__open-menu
    width: 24px
    height: 2px
    background-color #ffffff
    display: block
    content: ''
    position: relative
    margin-top: 11px
    cursor: pointer
    &:before
      position: absolute
      top: -15px;
      width: 100%
      height: 2px
      background-color #fff
      display: block
      content: ''
    &:after
      position: absolute
      top: -7px;
      width: 70%
      height: 2px
      background-color #fff
      display: block
      content: ''
  .chat__content
    max-width 400px
    margin: 0 auto

  .mob__video-link
    display: block
    width: 33px
    height: 33px
    margin-right: 20px
    svg
      width: 100%
    .svg-play
      fill #fff

  .b_main
    padding-bottom: 0
    &:after
      background: linear-gradient(-6deg, #fff 27%, transparent 27%);

  .menu__list
    display: none

  .main__title
    font-weight: lighter
    font-size: 34px;
    color: #FFFFFF;
    line-height: 35.5px;
    position: relative
    z-index 5

  .mail__logo
    width: 178px

  .main__text
    font-size: 14px;
    color: #FFFFFF;
    line-height: 20px;
    padding-bottom: 0
    position: relative
    z-index 5

  .chat__wrap
    width: 100%
    padding: 0

  .chat__item span
    padding: 7px
    font-size 14px
    font-weight: lighter

  .chat__item--user span
    min-height: 32px

  .chat__item--qubo span
    margin-left: 15px

  .chat__pic
    width: 30px
    height: 30px
    margin-top: 10px

  .main__video-block
    background none
    height: auto

  .main__video-link
    max-width 256px
    width: 100%
    height: 51px

  .main__video-link img
    width: 57px

  .main__video-link--text
    padding-top: 11px
    font-weight: 500
    font-size: 18px;
    opacity 1

  .value__cols
    flex-direction column

  .value__col:first-child
    margin: 0 auto
    width: 135px
    padding-top: 55px
    img
      width: 100%

  .value__col:last-child
    width: 100%
    padding-top: 35px

  .value__item
    width: 33%
  .b_value
    padding-top: 0
  .value__title
    position: absolute;
    text-align: center;
    top: -29px;
    width: 100%;
 .architecture__sub-title
   max-width none;
  .value__svg
    width: 58px

  .value__text
    font-weight: lighter
    font-size: 14px;
    color: rgba(36, 36, 36, 0.80);
    letter-spacing: 0;
    line-height: 17.92px;

  .tabs__control
    width: 100%

  .calculate__wrap--second
    .calculate__cols
      flex-direction column-reverse
    .calculate__col:last-child
      padding-bottom: 40px

  .calculate__cols
    flex-direction column

  .calculate__wrap--first
    .calculate__col
      padding-bottom: 40px
    .calculate__cols
      padding-bottom: 0

  #range-container
    display: block
    input[type="range"][multiple]
      display inline-block

  div[class^="outWrap_"]
    position: static
    width: 100%
    margin: 0
    margin-bottom: 20px
    text-align left

  div[class^="outWrap_"] span
    display: inline-block
    padding-top: 0

  .outWrap_0 span, .outWrap_2 span, .outWrap_4 span
    float: left
    padding-right: 5px

  .calculate__range-wrap
    margin: 0
    padding-bottom: 0

  .calculate__col
    width: 100%
    padding: 0

  .calculate__result-mob
    font-size 24px

  .saving__block
    width: 100%

  .saving__title
    font-size: 24px;
    text-align left
    padding-top: 0

  .saving__result, .saving__result.opt
    font-weight: lighter
    font-size: 20px;

  .saving-bar
    height: 6px

  .saving-bar span
    height: 6px

  .architecture__mob-pic
    display: block
    background: #046FD7;
    box-shadow: 0 15px 45px 0 rgba(23, 128, 224, 0.73);
    max-width 100%
    margin: 0 auto
    padding: 4%

  .architecture__wrap
    display: none

  .b_architecture
    height: auto
    background none
    box-shadow none

  .architecture__title
    font-size: 24px;
    color: #046FD7;
    text-align left
    padding-bottom: 1rem

  .architecture__sub-title
    margin: 0
    font-size: 16px;
    color: rgba(36, 36, 36, 0.80);
    line-height: 26px;
    padding-bottom: 2rem

  .team__item
    width: 30%
    padding-bottom: 28px

  .team__pic
    margin-bottom: 10px

  .team__name
    font-size: 12px;

  .team__position
    font-size: 10px;
    color: #677897;

  .b_team
    .btn-wrap
      display: none

  .blog__item
    height: 70px

  .footer__menu
    padding: 0

  .footer__col--small
    display: none

  .footer__col--big
    flex-direction: column-reverse

  .menu-site
    display: none

  .footer__col--big
    width: 100%

  .footer__logo
    align-self: auto;
    padding-top: 20px

  footer
    padding-top: 58px
    padding-bottom: 25px

  .b_calculate
    padding-top: 0
    padding-bottom: 0

  select
    font-weight: lighter
    font-size: 22px;
    color: #677897;
    letter-spacing: -0.34px;
    border: 1px solid #8DB9E5;
    border-radius: 40px;
    width: 100%
    margin-bottom: 20px
    -webkit-appearance: none;
    padding-left: 20px
    height: 45px
    line-height 45px

  header
    padding-top: 10px

 .calculate__wrap--first .calculate__col
   padding-bottom: 15px
  .calculate__text
    padding-bottom: 15px
.open-menu
  .menu__list
    width: 100vw
    height: 100vh
    display: block
    background-color #0465C2
    z-index 9998
    position: fixed
    top: 0
    left: 0
    padding-top: 20px
    box-sizing border-box
  .menu__item
    display: block
  .menu__link
    font-size: 34px;
    color: rgba(255, 255, 255, 1.00);
    line-height: 55.5px;
  .mob__open-menu--link
    position: fixed
    z-index 9999
    right: 10px
    top: 20px
  .mob__open-menu
    transform rotate(45deg)
    transition all .5s
    &:before
      transform rotate(-90deg)
      top: 0
      transition all .5s
    &:after
      display: none

.chat-animate
  animation: showBlock .3s forwards

.chat-animate--hide
  animation: hideBlock .3s forwards

