@-moz-keyframes svgRot {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
    transform: rotate(360deg);
  }
  100% {
    opacity: 1;
    transform: rotate(0deg);
  }
}
@-webkit-keyframes svgRot {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
    transform: rotate(360deg);
  }
  100% {
    opacity: 1;
    transform: rotate(0deg);
  }
}
@-o-keyframes svgRot {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
    transform: rotate(360deg);
  }
  100% {
    opacity: 1;
    transform: rotate(0deg);
  }
}
@keyframes svgRot {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
    transform: rotate(360deg);
  }
  100% {
    opacity: 1;
    transform: rotate(0deg);
  }
}
@-moz-keyframes hideBlock {
  from {
    opacity: 1;
    transform: translateY(0px);
    max-height: 100px;
  }
  to {
    opacity: 0;
    transform: translateY(-30px);
    max-height: 0;
  }
}
@-webkit-keyframes hideBlock {
  from {
    opacity: 1;
    transform: translateY(0px);
    max-height: 100px;
  }
  to {
    opacity: 0;
    transform: translateY(-30px);
    max-height: 0;
  }
}
@-o-keyframes hideBlock {
  from {
    opacity: 1;
    transform: translateY(0px);
    max-height: 100px;
  }
  to {
    opacity: 0;
    transform: translateY(-30px);
    max-height: 0;
  }
}
@keyframes hideBlock {
  from {
    opacity: 1;
    transform: translateY(0px);
    max-height: 100px;
  }
  to {
    opacity: 0;
    transform: translateY(-30px);
    max-height: 0;
  }
}
@-moz-keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes float {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-5deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@-webkit-keyframes float {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-5deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@-o-keyframes float {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-5deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes float {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-5deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@-moz-keyframes moveYoga {
  0% {
    transform: translate3D(0px, 0px, 0);
  }
  25% {
    transform: translate3D(-10px, 10px, -20px);
  }
  75% {
    transform: translate3D(10px, 5px, 0);
  }
  100% {
    transform: translate3D(0px, 0px, 0);
  }
}
@-webkit-keyframes moveYoga {
  0% {
    transform: translate3D(0px, 0px, 0);
  }
  25% {
    transform: translate3D(-10px, 10px, -20px);
  }
  75% {
    transform: translate3D(10px, 5px, 0);
  }
  100% {
    transform: translate3D(0px, 0px, 0);
  }
}
@-o-keyframes moveYoga {
  0% {
    transform: translate3D(0px, 0px, 0);
  }
  25% {
    transform: translate3D(-10px, 10px, -20px);
  }
  75% {
    transform: translate3D(10px, 5px, 0);
  }
  100% {
    transform: translate3D(0px, 0px, 0);
  }
}
@keyframes moveYoga {
  0% {
    transform: translate3D(0px, 0px, 0);
  }
  25% {
    transform: translate3D(-10px, 10px, -20px);
  }
  75% {
    transform: translate3D(10px, 5px, 0);
  }
  100% {
    transform: translate3D(0px, 0px, 0);
  }
}
@-moz-keyframes videoAnimate {
  0% {
    width: 81px;
  }
  100% {
    width: 320px;
  }
}
@-webkit-keyframes videoAnimate {
  0% {
    width: 81px;
  }
  100% {
    width: 320px;
  }
}
@-o-keyframes videoAnimate {
  0% {
    width: 81px;
  }
  100% {
    width: 320px;
  }
}
@keyframes videoAnimate {
  0% {
    width: 81px;
  }
  100% {
    width: 320px;
  }
}
@-moz-keyframes videoAnimateText {
  0% {
    font-size: 23.04px;
    opacity: 0;
  }
  100% {
    font-size: 23.04px;
    opacity: 1;
  }
}
@-webkit-keyframes videoAnimateText {
  0% {
    font-size: 23.04px;
    opacity: 0;
  }
  100% {
    font-size: 23.04px;
    opacity: 1;
  }
}
@-o-keyframes videoAnimateText {
  0% {
    font-size: 23.04px;
    opacity: 0;
  }
  100% {
    font-size: 23.04px;
    opacity: 1;
  }
}
@keyframes videoAnimateText {
  0% {
    font-size: 23.04px;
    opacity: 0;
  }
  100% {
    font-size: 23.04px;
    opacity: 1;
  }
}
@-moz-keyframes videoAnimatePic {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes videoAnimatePic {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-o-keyframes videoAnimatePic {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes videoAnimatePic {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-moz-keyframes showBlock {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@-webkit-keyframes showBlock {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@-o-keyframes showBlock {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes showBlock {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
html,
body {
  width: 100%;
  height: 100%;
  min-height: 600px;
}
body {
  background-image: url("../images/main-bg.jpg");
  background-size: 100% auto;
}
.content {
  width: 1180px;
  margin: 0 auto;
  font-family: 'Lato', sans-serif;
}
.section__title {
  padding-bottom: 55px;
  color: #046fd7;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  font-weight: normal;
}
.btn-wrap {
  display: block;
  text-align: center;
}
header {
  position: fixed;
  width: 100%;
  height: 60px;
  padding-top: 22px;
  z-index: 10;
}
header .content {
  display: flex;
  justify-content: space-between;
}
header.bg {
  background-image: url("../images/bg.jpg");
  background-size: cover;
}
header.bg .header-logo {
  opacity: 1;
  transition: all 0.3s;
}
.header-logo {
  width: 100px;
  height: 38px;
  margin-top: -13px;
  opacity: 0;
}
.menu__link {
  font-weight: lighter;
  font-size: 16px;
  color: #f2f2f2;
  line-height: 23px;
  margin-left: 46px;
}
.menu__item {
  display: inline;
}
.b_main {
  text-align: center;
  background-color: #046fd7;
  background-image: url("../images/bg.jpg");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
  padding-top: 113px;
  padding-bottom: 60px;
  color: #fff;
  position: relative;
}
.b_main:after {
  width: 100%;
  height: 580px;
  display: block;
  background-color: #00eaf8;
  content: '';
  position: absolute;
  bottom: 0px;
  background: linear-gradient(-6deg, #fff 50%, transparent 50%);
}
.mail__logo {
  padding-bottom: 26px;
  opacity: 0;
  animation: opacity 0.4s 0.1s forwards;
  position: relative;
  z-index: 5;
}
.main__title {
  color: #fff;
  font-size: 80px;
  font-weight: 300;
  line-height: 103px;
  padding-bottom: 22px;
  opacity: 0;
  animation: opacity 0.4s 0.5s forwards;
}
.main__text {
  color: #fff;
  font-size: 18px;
  line-height: 28px;
  max-width: 700px;
  padding-bottom: 70px;
  margin: 0 auto;
  opacity: 0;
  animation: opacity 0.4s 0.7s forwards;
}
.chat__wrap {
  width: 595px;
  margin: 0 auto;
  position: relative;
  z-index: 3;
  text-align: left;
  padding-right: 70px;
  height: 159px;
  content: '';
}
.chat__content {
  width: 98%;
}
.chat__item {
  width: 100%;
}
.chat__item:after {
  display: block;
  content: '';
  height: 1px;
  flex: 1 auto;
}
.chat__item--qubo {
  display: flex;
}
.chat__item--qubo span {
  background: #fff;
  border-radius: 28.51px;
  font-size: 19.01px;
  color: #151c1b;
  letter-spacing: -0.41px;
  position: relative;
  display: flex;
  align-items: center;
  padding: 19px 14px;
  margin-left: 20px;
  margin-top: 8px;
  box-shadow: 0 14px 14px 0 rgba(0,0,0,0.19);
  max-width: 80%;
}
.chat__item--qubo span:before {
  position: absolute;
  left: -12px;
  bottom: -19px;
  width: 31px;
  height: 41px;
  background-image: url("../images/quote.png");
  background-size: contain;
  background-position: top left;
  background-repeat: no-repeat;
  display: block;
  content: '';
}
.chat__pic {
  animation: float 0.8s 2;
}
.chat__item--user {
  display: flex;
  flex-direction: row-reverse;
}
.chat__item--user span {
  background: #81bdf7;
  border-radius: 30px 30px 20px 30px;
  font-size: 19.01px;
  color: #fff;
  letter-spacing: -0.41px;
  padding: 19px 14px;
  position: relative;
  margin-top: 6px;
  box-shadow: 0 14px 14px 0 #c5e2ff;
  min-height: 61px;
  max-width: 80%;
}
.chat__item--user span:before {
  position: absolute;
  right: -17px;
  bottom: -19px;
  width: 36px;
  height: 44px;
  background-image: url("../images/quote-blue.png");
  background-size: contain;
  background-position: top left;
  background-repeat: no-repeat;
  display: block;
  content: '';
}
.main__video-block {
  width: 856px;
  height: 181px;
  margin: 0 auto;
  position: relative;
  top: -14px;
  background-image: url("../images/phone.png");
  background-size: contain;
  background-position: center;
  padding-top: 30px;
  box-sizing: border-box;
  z-index: 2;
}
.main__video-link {
  border: 1px solid #046fd7;
  border-radius: 115.2px;
  height: 71px;
  width: 81px;
  text-align: center;
  display: block;
  margin: 0 auto;
}
@media (min-width: 767px) {
  .main__video-link {
    animation: videoAnimate 0.6s 16s forwards;
  }
}
.main__video-link img {
  float: right;
  padding: 10px 14px;
}
@media (min-width: 767px) {
  .main__video-link img {
    animation: videoAnimatePic 0.6s 16s forwards;
  }
}
.main__video-link--text {
  color: #046fd7;
  line-height: 26.5px;
  padding-top: 24px;
  display: inline-block;
  font-size: 0;
  opacity: 0;
}
@media (min-width: 767px) {
  .main__video-link--text {
    animation: videoAnimateText 0.6s 16.6s forwards;
  }
}
.b_value {
  padding-top: 42px;
  padding-bottom: 70px;
}
.value__cols {
  display: flex;
  justify-content: space-between;
  padding: 0 99px 0 41px;
}
.value__col:first-child {
  width: 317px;
  padding-top: 25px;
  animation: moveYoga 5s linear 0.5s infinite;
}
.value__col:last-child {
  width: 600px;
}
.value__title {
  font-size: 36px;
  color: #046fd7;
  padding-bottom: 22px;
}
.value__sub-title {
  font-size: 20px;
  color: rgba(36,36,36,0.8);
  line-height: 30px;
  padding-bottom: 50px;
}
.value__list {
  display: flex;
  justify-content: space-between;
}
.value__item {
  width: 28%;
  text-align: center;
}
.value__text {
  padding-top: 17px;
  font-size: 15.36px;
  color: rgba(36,36,36,0.8);
  line-height: 17.92px;
}
.b_calculate {
  padding-top: 90px;
  padding-bottom: 86px;
}
.calculate__range-wrap {
  padding-bottom: 70px;
}
#range-container {
  position: relative;
  width: 102%;
  margin-left: -1.5%;
}
input[type="range"][multiple] {
  display: block;
  height: 10px;
  margin: 0;
  pointer-events: none;
  width: 100%;
}
input[type="range"][multiple] + input[type="range"][multiple] {
  margin-top: -10px;
}
input[type="range"]::-webkit-slider-thumb {
  pointer-events: all;
}
.calculate__range-wrap {
  position: relative;
  margin: 0 50px;
  padding-bottom: 70px;
}
div[class^="outWrap_"] {
  position: absolute;
  z-index: 0;
  font-size: 18px;
  line-height: 24px;
}
div[class^="outWrap_"] span {
  display: block;
}
.outWrap_0 {
  width: 123px;
  text-align: center;
  margin-left: -61px;
  top: -33px;
  color: #046fd7;
}
.outWrap_0 span {
  padding-top: 40px;
}
.outWrap_1 {
  width: 82px;
  text-align: center;
  margin-left: -41px;
  top: -57px;
  color: #fa0;
}
.outWrap_2 {
  width: 123px;
  text-align: center;
  margin-left: -61px;
  top: -33px;
  color: #1cbbb4;
}
.outWrap_2 span {
  padding-top: 40px;
}
.outWrap_3 {
  width: 100px;
  text-align: center;
  margin-left: -50px;
  top: -57px;
  color: #e577cf;
}
.outWrap_4 {
  width: 123px;
  text-align: center;
  margin-left: -61px;
  top: -33px;
  color: #8db9e5;
}
.outWrap_4 span {
  padding-top: 40px;
}
.outWrap_5 {
  width: 82px;
  text-align: center;
  margin-left: -41px;
  top: -57px;
  color: #0f2e6b;
}
.calculate__cols {
  display: flex;
  padding-bottom: 33px;
}
.calculate__col {
  width: 50%;
  padding-right: 7%;
}
.calculate__title {
  font-size: 18px;
  color: #989898;
  letter-spacing: 0;
  line-height: 32px;
  padding-bottom: 81px;
  padding-left: 12px;
}
.calculate__result-title {
  font-size: 18px;
  color: #989898;
  line-height: 32px;
  text-align: center;
}
.calculate__result {
  font-size: 46px;
  color: #046fd7;
  text-align: center;
}
#result {
  color: #657899;
}
.form-field select {
  width: 100%;
  font-weight: lighter;
  font-size: 22px;
  color: #677897;
  letter-spacing: -0.39px;
  border: 1px solid #8db9e5;
  border-radius: 40px;
}
.nice-select {
  width: 100%;
}
.list {
  width: 100%;
}
.nice-select:after {
  width: 0;
  height: 0;
  border-bottom: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #046fd7;
  transform: rotate(0);
}
.nice-select.open:after {
  transform: rotate(-180deg);
}
.form__salary,
.form__employees {
  position: relative;
  padding-bottom: 20px;
}
.form__salary input,
.form__employees input {
  width: 103%;
}
.form__salary p,
.form__employees p {
  text-align: right;
  font-size: 18px;
  color: #989898;
  line-height: 32px;
}
.form__salary output,
.form__employees output {
  position: absolute;
  top: -20px;
  font-size: 16.8px;
  color: #359be0;
  display: block;
  width: 60px;
  margin-left: -30px;
  text-align: center;
}
.range-secondary {
  width: 103%;
}
.saving__title {
  font-size: 24px;
  color: #046fd7;
  padding-top: 50px;
  padding-bottom: 5px;
  text-align: center;
}
.saving__text {
  font-size: 18px;
  color: #989898;
  letter-spacing: 0;
  line-height: 32px;
  padding-right: 15px;
}
.line-right {
  text-align: right;
}
.saving__block {
  width: 645px;
  margin: 0 auto;
}
.saving__result {
  font-size: 36px;
  color: #8c8c8c;
  font-weight: lighter;
}
.saving__result.opt {
  font-size: 48px;
  color: #046fd7;
}
.saving-bar {
  width: 100%;
  display: block;
  height: 15px;
  position: relative;
  background-color: #046fd7;
  border-radius: 15px;
  margin: 20px 0;
}
.saving-bar span {
  display: block;
  height: 15px;
  position: absolute;
  left: 0;
  background-color: #c4dbee;
  border-radius: 15px;
}
#industry-business + .nice-select {
  margin-bottom: 30px;
}
input[type=range] {
  -webkit-appearance: none;
  margin: 15px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  animate: 0.2s;
  background: #1cbbb4;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #1cbbb4;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  animate: 0.2s;
  background: #1cbbb4;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 20px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #1cbbb4;
}
input[type=range]::-ms-fill-upper {
  background: #1cbbb4;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0 0 3px 0 rgba(0,0,0,0.1), inset 0px 0px 0px 2px #e6e8ed, inset 0px 0px 0px 6px #fff;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background: #1cbbb4;
  cursor: pointer;
  position: relative;
  top: 4px;
  -webkit-appearance: none;
  margin-top: -11px;
  position: relative;
  z-index: 4;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0 0 3px 0 rgba(0,0,0,0.1), inset 0px 0px 0px 2px #e6e8ed, inset 0px 0px 0px 6px #fff;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background: #1cbbb4;
  cursor: pointer;
  position: relative;
  top: 4px;
}
input[type=range]::-ms-thumb {
  box-shadow: 0 0 3px 0 rgba(0,0,0,0.1), inset 0px 0px 0px 2px #e6e8ed, inset 0px 0px 0px 6px #fff;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background: #1cbbb4;
  cursor: pointer;
  position: relative;
  top: 4px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #1cbbb4;
}
input[type=range]:focus::-ms-fill-upper {
  background: #1cbbb4;
}
.tabs__control {
  width: 525px;
  margin: 0 auto;
  border: 1px solid #046fd7;
  display: flex;
  border-radius: 23px;
  position: relative;
  overflow: hidden;
  margin-bottom: 48px;
}
.tabs__control:before {
  border-radius: 21px;
  width: 50%;
  height: 100%;
  content: '';
  display: block;
  position: absolute;
  right: 0%;
  top: 0;
  background-color: #046fd7;
  transition: right 0.3s;
}
.tabs__control.first .first {
  color: #fff;
  transition: color 0.3;
}
.tabs__control.second:before {
  right: 50%;
  transition: right 0.3s;
}
.tabs__control.second .second {
  color: #fff;
  transition: color 0.3;
}
.tabs__control--item {
  position: relative;
  z-index: 3;
  height: 46px;
  line-height: 46px;
  font-weight: lighter;
  font-size: 16px;
  color: #0663a3;
  letter-spacing: 0;
  width: 50%;
  text-align: center;
  cursor: pointer;
  user-select: none;
}
.calculate__text {
  font-size: 20px;
  color: rgba(36,36,36,0.8);
  line-height: 30px;
  text-align: center;
  max-width: 741px;
  margin: 0 auto;
  padding-bottom: 70px;
}
.calculate__wrap {
  background: #fff;
  box-shadow: 0 15px 45px 0 rgba(23,128,224,0.21);
  border-radius: 41px;
  padding: 65px 49px;
}
.b_architecture {
  background-color: #046fd7;
  background-image: url("../images/arch-bg.png");
  background-position: 70% top;
  background-repeat: no-repeat;
  box-shadow: 0 15px 45px 0 rgba(23,128,224,0.73);
  height: 61.6875rem;
  padding-top: 4.625rem;
  box-sizing: border-box;
}
.b_architecture svg,
.b_architecture img {
  width: 100%;
}
.b_architecture .content {
  position: relative;
}
.architecture__title {
  font-size: 2.25rem;
  color: #fff;
  text-align: center;
  padding-bottom: 3.75rem;
}
.architecture__sub-title {
  max-width: 28.4375rem;
  font-size: 1.25rem;
  color: #fff;
  line-height: 1.875rem;
  margin-left: 9.75rem;
}
.architecture__users--text {
  font-weight: lighter;
  font-size: 2.25rem;
  color: #fff;
  margin: 0.8125rem 9.5625rem;
  width: 9.375rem;
}
.architecture__users {
  margin: 7.8125rem 0 0 9rem;
  display: inline-block;
  width: 12.75rem;
  height: 9.5625rem;
}
.architecture__arrows {
  width: 6.875rem;
  position: absolute;
  top: 27.875rem;
  left: 23.8125rem;
}
.architecture__arrows img:last-child {
  padding-bottom: 1.1875rem;
  transform: rotate(180deg);
}
.architecture__graph {
  width: 33.7rem;
  height: 34.8125rem;
  background-image: url("../images/arch-graph.svg");
  display: block;
  content: '';
  position: absolute;
  top: 9.9375rem;
  background-size: 100%;
  left: 31.5625rem;
}
.architecture__session {
  position: absolute;
  top: 25.9375rem;
  left: 32.6875rem;
  width: 8.625rem;
  height: 9.25rem;
}
.architecture__session--text {
  font-weight: lighter;
  font-size: 2.25rem;
  color: #fff;
  position: absolute;
  top: 35rem;
  left: 33.1875rem;
}
.architecture__detection--text {
  font-size: 1.5rem;
  color: #fff;
  letter-spacing: 0;
  font-weight: lighter;
  position: absolute;
  top: 15.375rem;
  left: 40.0625rem;
}
.architecture__clarification--text {
  font-size: 1.5rem;
  color: #fff;
  letter-spacing: 0;
  font-weight: lighter;
  position: absolute;
  top: 22.125rem;
  left: 40.3125rem;
}
.architecture__execution--text {
  font-weight: lighter;
  font-size: 1.5rem;
  color: #fff;
  position: absolute;
  top: 27.6875rem;
  left: 59.3125rem;
}
.architecture__solution--text {
  font-size: 1.5rem;
  color: #0071db;
  font-weight: lighter;
  position: absolute;
  top: 41.6875rem;
  left: 42.0625rem;
}
.architecture__network--text {
  font-size: 2.25rem;
  color: #fff;
  font-weight: lighter;
}
.architecture__core--text {
  font-size: 2.25rem;
  color: #fff;
  font-weight: lighter;
  position: absolute;
  top: 8.75rem;
  left: 53.25rem;
}
.architecture__core--sub-text {
  font-size: 1.25rem;
  color: #fff;
  line-height: 1.875rem;
  position: absolute;
  top: 9.5625rem;
  left: 59.375rem;
  font-weight: 400;
}
.architecture__brain {
  position: absolute;
  top: 15.125rem;
  left: 51.375rem;
  width: 8.9375rem;
  height: 8.9375rem;
}
.architecture__laptop {
  position: absolute;
  top: 35.9375rem;
  left: 52.875rem;
  width: 7.8125rem;
  height: 7.8125rem;
}
.architecture__network--text {
  position: absolute;
  top: 45.5rem;
  left: 48.5625rem;
}
.architecture__network--sub-text {
  position: absolute;
  top: 48.625rem;
  left: 48.6875rem;
  max-width: 20.0625rem;
  font-size: 1.25rem;
  color: #fff;
  line-height: 1.875rem;
}
.architecture__mob-pic {
  display: none;
}
@media (max-width: 1200px) {
  .architecture__core--sub-text {
    top: 11.0625rem;
    left: 51.375rem;
  }
  .architecture__network--text {
    left: 43.0625rem;
  }
  .architecture__network--sub-text {
    left: 43.0625rem;
  }
}
.b_team {
  padding-top: 75px;
  padding-bottom: 92px;
}
.team__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.team__item {
  width: 21%;
  text-align: center;
  padding-bottom: 144px;
}
.team__pic {
  margin-bottom: 27px;
  border-radius: 100%;
  width: 100%;
}
.team__name {
  font-size: 18px;
  color: #046fd7;
  font-weight: bold;
  padding-bottom: 10px;
}
.team__position {
  font-style: italic;
  font-size: 16px;
  color: #677897;
}
.team__btn {
  height: 46px;
  line-height: 46px;
  border-radius: 7px;
  background-color: #046fd7;
  color: #fff;
  font-size: 18px;
  display: inline-block;
  padding: 0 60px;
}
.b_blog {
  padding-top: 72px;
  padding-bottom: 88px;
  background-color: #fff;
}
.blog__list {
  display: flex;
  justify-content: space-between;
  padding-bottom: 70px;
}
.blog__item {
  width: 32%;
  height: 238px;
  background: #f6f9fd;
  box-shadow: 0 15px 45px 0 rgba(23,128,224,0.21);
  border-radius: 7px;
  background-image: linear-gradient(-45deg, #102397 0%, #187adf 55%, #00eaf8 100%);
}
.blog__btn {
  background-color: #fff;
  border-radius: 100px;
  font-weight: lighter;
  font-size: 16px;
  color: #0663a3;
  border: 1px solid #0663a3;
  height: 46px;
  line-height: 46px;
  display: inline-block;
  padding: 0 60px;
}
.blog__btn:hover {
  transition: all 0.3s;
  color: #fff;
  background-color: #0663a3;
}
footer {
  padding-top: 43px;
  padding-bottom: 52px;
  background-color: #f8fafd;
}
.footer__cols {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.footer__col--big {
  display: flex;
}
.footer__menu {
  padding-left: 117px;
}
.footer__menu-link {
  font-size: 16px;
  color: #7887a7;
  line-height: 26px;
}
.footer__menu-link--primary {
  color: #b1bbce;
}
.footer__logo {
  align-self: flex-end;
}
.soc__link--fb:hover g {
  fill: #3b5998;
  transition: all 0.3s;
}
canvas {
  display: block;
  vertical-align: bottom;
  position: absolute;
  top: 0;
}
.showBlock {
  transform: translateY(60px);
  opacity: 0;
  animation: showBlock 0.3s forwards;
}
.modal__video {
  display: none;
}
body.open-modal {
  overflow: hidden;
}
body.open-modal .modal__video {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(15,46,107,0.56);
  z-index: 9999999;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
}
@media (max-width: 1200px) {
  .content {
    width: 980px;
  }
}
@media (max-width: 1200px) {
  .content {
    width: 760px;
  }
  .menu__link {
    margin-left: 28px;
  }
  .main__video-block {
    width: 100%;
    background-repeat: no-repeat;
  }
  .value__cols {
    padding: 0;
  }
  .calculate__wrap {
    padding: 65px 30px;
  }
  html {
    font-size: 12px;
  }
  .team__item {
    padding-bottom: 35px;
  }
}
@media (max-width: 767px) {
  .content {
    width: 300px;
  }
  .header_mob-group {
    display: flex;
    align-items: center;
  }
  .header-logo {
    opacity: 1;
  }
  .header-logo {
    margin-top: 0;
  }
  .mob__open-menu {
    width: 24px;
    height: 2px;
    background-color: #fff;
    display: block;
    content: '';
    position: relative;
    margin-top: 11px;
    cursor: pointer;
  }
  .mob__open-menu:before {
    position: absolute;
    top: -15px;
    width: 100%;
    height: 2px;
    background-color: #fff;
    display: block;
    content: '';
  }
  .mob__open-menu:after {
    position: absolute;
    top: -7px;
    width: 70%;
    height: 2px;
    background-color: #fff;
    display: block;
    content: '';
  }
  .mob__video-link {
    display: block;
    width: 33px;
    height: 33px;
    margin-right: 20px;
  }
  .mob__video-link svg {
    width: 100%;
  }
  .mob__video-link .svg-play {
    fill: #fff;
  }
  .b_main {
    padding-bottom: 0;
  }
  .b_main:after {
    background: linear-gradient(-6deg, #fff 27%, transparent 27%);
  }
  .menu__list {
    display: none;
  }
  .main__title {
    font-weight: lighter;
    font-size: 34px;
    color: #fff;
    line-height: 35.5px;
    position: relative;
    z-index: 5;
  }
  .mail__logo {
    width: 178px;
  }
  .main__text {
    font-size: 14px;
    color: #fff;
    line-height: 20px;
    padding-bottom: 0;
    position: relative;
    z-index: 5;
  }
  .chat__wrap {
    width: 100%;
    padding: 0;
  }
  .chat__item span {
    padding: 7px;
    font-size: 14px;
    font-weight: lighter;
  }
  .chat__item--user span {
    min-height: 32px;
  }
  .chat__item--qubo span {
    margin-left: 15px;
  }
  .chat__pic {
    width: 30px;
    height: 30px;
    margin-top: 10px;
  }
  .main__video-block {
    background: none;
    height: auto;
  }
  .main__video-link {
    max-width: 256px;
    width: 100%;
    height: 51px;
  }
  .main__video-link img {
    width: 57px;
  }
  .main__video-link--text {
    padding-top: 11px;
    font-weight: 500;
    font-size: 18px;
    opacity: 1;
  }
  .value__cols {
    flex-direction: column;
  }
  .value__col:first-child {
    margin: 0 auto;
    width: 135px;
    padding-top: 55px;
  }
  .value__col:first-child img {
    width: 100%;
  }
  .value__col:last-child {
    width: 100%;
    padding-top: 35px;
  }
  .value__item {
    width: 33%;
  }
  .value__title {
    position: absolute;
    text-align: center;
    top: -209px;
    width: 100%;
  }
  .value__svg {
    width: 58px;
  }
  .value__text {
    font-weight: lighter;
    font-size: 14px;
    color: rgba(36,36,36,0.8);
    letter-spacing: 0;
    line-height: 17.92px;
  }
  .tabs__control {
    width: 100%;
  }
  .calculate__wrap--second .calculate__cols {
    flex-direction: column-reverse;
  }
  .calculate__wrap--second .calculate__col:last-child {
    padding-bottom: 40px;
  }
  .calculate__cols {
    flex-direction: column;
  }
  .calculate__wrap--first .calculate__col {
    padding-bottom: 40px;
  }
  .calculate__wrap--first .calculate__cols {
    padding-bottom: 0;
  }
  #range-container {
    display: block;
  }
  #range-container input[type="range"][multiple] {
    display: inline-block;
  }
  div[class^="outWrap_"] {
    position: static;
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
    text-align: left;
  }
  div[class^="outWrap_"] span {
    display: inline-block;
    padding-top: 0;
  }
  .outWrap_0 span,
  .outWrap_2 span,
  .outWrap_4 span {
    float: left;
    padding-right: 5px;
  }
  .calculate__range-wrap {
    margin: 0;
    padding-bottom: 0;
  }
  .calculate__col {
    width: 100%;
    padding: 0;
  }
  .calculate__result-mob {
    font-size: 24px;
  }
  .saving__block {
    width: 100%;
  }
  .saving__title {
    font-size: 24px;
    text-align: left;
    padding-top: 0;
  }
  .saving__result,
  .saving__result.opt {
    font-weight: lighter;
    font-size: 20px;
  }
  .saving-bar {
    height: 6px;
  }
  .saving-bar span {
    height: 6px;
  }
  .architecture__mob-pic {
    display: block;
    background: #046fd7;
    box-shadow: 0 15px 45px 0 rgba(23,128,224,0.73);
    max-width: 400px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .architecture__wrap {
    display: none;
  }
  .b_architecture {
    height: auto;
    background: none;
    box-shadow: none;
  }
  .architecture__title {
    font-size: 24px;
    color: #046fd7;
    text-align: left;
    padding-bottom: 1rem;
  }
  .architecture__sub-title {
    margin: 0;
    font-size: 16px;
    color: rgba(36,36,36,0.8);
    line-height: 26px;
    padding-bottom: 2rem;
  }
  .team__item {
    width: 30%;
    padding-bottom: 28px;
  }
  .team__pic {
    margin-bottom: 10px;
  }
  .team__name {
    font-size: 12px;
  }
  .team__position {
    font-size: 10px;
    color: #677897;
  }
  .b_team .btn-wrap {
    display: none;
  }
  .blog__item {
    height: 70px;
  }
  .footer__menu {
    padding: 0;
  }
  .footer__col--small {
    display: none;
  }
  .footer__col--big {
    flex-direction: column-reverse;
  }
  .menu-site {
    display: none;
  }
  .footer__col--big {
    width: 100%;
  }
  .footer__logo {
    align-self: auto;
    padding-top: 20px;
  }
  footer {
    padding-top: 58px;
    padding-bottom: 25px;
  }
  .b_calculate {
    padding-top: 0;
  }
  select {
    font-weight: lighter;
    font-size: 22px;
    color: #677897;
    letter-spacing: -0.34px;
    border: 1px solid #8db9e5;
    border-radius: 40px;
    width: 100%;
    margin-bottom: 20px;
    -webkit-appearance: none;
    padding-left: 20px;
    height: 45px;
    line-height: 45px;
  }
  header {
    padding-top: 10px;
  }
}
.showBlock .gear_svg {
  transform-origin: 36.5px 37.5px;
  opacity: 0;
  animation: svgRot 1s forwards;
  transform: rotate(360deg);
}
.showBlock .gear_svg.second {
  transform-origin: -0.5px 28.5px;
}
.showBlock .gear_svg-point {
  opacity: 0;
  animation: opacity 1s 1s forwards;
}
.open-menu .menu__list {
  width: 100vw;
  height: 100vh;
  display: block;
  background-color: #0465c2;
  z-index: 9998;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 20px;
  box-sizing: border-box;
}
.open-menu .menu__item {
  display: block;
}
.open-menu .menu__link {
  font-size: 34px;
  color: #fff;
  line-height: 55.5px;
}
.open-menu .mob__open-menu--link {
  position: fixed;
  z-index: 9999;
  right: 10px;
  top: 20px;
}
.open-menu .mob__open-menu {
  transform: rotate(45deg);
  transition: all 0.5s;
}
.open-menu .mob__open-menu:before {
  transform: rotate(-90deg);
  top: 0;
  transition: all 0.5s;
}
.open-menu .mob__open-menu:after {
  display: none;
}
.chat-animate {
  animation: showBlock 0.3s forwards;
}
.chat-animate--hide {
  animation: hideBlock 0.3s forwards;
}
