.b_main
  text-align center
  background-color #046fd7
  background-image url("../images/bg.jpg")
  background-repeat: no-repeat
  background-position: left top
  background-size cover
  padding-top: 113px
  padding-bottom: 60px
  color: #fff
  position: relative
  &:after
    width: 100%
    height: 580px
    display: block
    background-color #00eaf8
    content: ''
    position: absolute
    bottom 0px
    background: linear-gradient(-6deg, #fff 50%, transparent 50%);

.mail__logo
  padding-bottom: 26px
  opacity 0
  animation: opacity .4s .1s forwards
  position: relative
  z-index 5

.main__title
  color: #FFFFFF
  font-size: 80px
  font-weight: 300
  line-height: 103px
  padding-bottom: 22px
  opacity 0
  animation: opacity .4s .5s forwards

.main__text
  color: #FFFFFF
  font-size: 18px
  line-height: 28px
  max-width 700px
  padding-bottom: 40px
  margin 0 auto
  opacity 0
  animation: opacity .4s .7s forwards

.chat__wrap
  width: 595px;
  margin: 0 auto;
  position: relative;
  z-index: 3;
  text-align: left;
  padding-right: 70px;

  height: 159px
  content ''

.chat__content
  width: 98%

.chat__item
  width: 100%

.chat__item:after
  display: block
  content: ''
  height: 1px
  flex 1 auto

.chat__item--qubo
  display: flex
  span
    background: #FFFFFF
    border-radius: 28.51px
    font-size: 19.01px
    color: #151C1B
    letter-spacing: -0.41px
    position: relative
    display: flex
    align-items center
    padding: 19px 14px
    margin-left: 20px
    margin-top: 8px
    box-shadow: 0 14px 14px 0 rgba(0, 0, 0, 0.19);
    max-width 80%
    &:before
      position: absolute
      left: -12px;
      bottom: -19px;
      width: 31px;
      height: 41px;
      background-image url("../images/quote.png")
      background-size contain
      background-position top left
      background-repeat no-repeat
      display: block
      content: ''

.chat__pic
  animation: float .8s 2

.chat__item--user
  display flex
  flex-direction: row-reverse;
  span
    background: #81BDF7
    border-radius: 30px 30px 20px 30px
    font-size: 19.01px
    color: #FFFFFF
    letter-spacing: -0.41px
    padding: 19px 14px
    position: relative
    margin-top: 6px
    box-shadow: 0 14px 14px 0 rgba(197, 226, 255, 1);
    min-height: 61px
    max-width 80%
    &:before
      position: absolute
      right: -17px;
      bottom: -19px;
      width: 36px;
      height: 44px;
      background-image url("../images/quote-blue.png")
      background-size contain
      background-position top left
      background-repeat no-repeat
      display: block
      content: ''

.main__video-block
  width: 856px
  height: 181px
  margin: 0 auto
  position: relative
  top: -14px
  background-image url("../images/phone.png")
  background-size contain
  background-position center
  padding-top: 30px
  box-sizing border-box
  z-index 2
  margin-top: 40px

.main__video-link
  border: 1px solid #046FD7
  border-radius: 115.2px
  height: 71px
  width: 81px
  text-align center
  display: block
  margin: 0 auto
  @media (min-width 767px)
    animation: videoAnimate .6s 12.5s forwards
  img
    float right
    padding: 10px 14px;
    @media (min-width 767px)
      animation: videoAnimatePic .6s 12.5s forwards

.main__video-link--text
  color: #046FD7
  line-height: 26.5px
  padding-top: 24px
  display inline-block
  font-size 0
  opacity 0
  @media (min-width 767px)
    animation: videoAnimateText .6s 13.1s forwards
