
.b_value
  padding-top: 42px
  padding-bottom: 70px

.value__cols
  display: flex
  justify-content space-between
  padding: 0 99px 0 41px;

.value__col
  &:first-child
    width: 317px
    padding-top: 25px
    animation: moveYoga 5s linear .5s infinite

  &:last-child
    width: 600px

.value__title
  font-size: 36px
  color: #046FD7
  padding-bottom: 22px

.value__sub-title
  font-size: 20px
  color: rgba(36, 36, 36, 0.80)
  line-height: 30px
  padding-bottom: 50px

.value__list
  display: flex
  justify-content space-between

.value__item
  width: 28%
  text-align center

.value__text
  padding-top: 17px
  font-size: 15.36px
  color: rgba(36, 36, 36, 0.80)
  line-height: 17.92px

